.flexContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100%;
    font-family: Helvetica;
    font-size: 10px;
}


h1 {
    color: CRIMSON;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 10px;

}

time {
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;

}

#button{
    overflow:hidden;
    background: red;
    position: relative;
}

p {
    font-size: 20px; 
    margin-left: 10px;
}

@media (min-width: 500px) {
    h1{
        font-size: 25px;
    }
    .flexContainer{
        font-size: 18px;
        display: flex;
        flex-flow: column nowrap;
        min-height: 100%;
    }
    time {
        font-size: 13px;
    }
}

  