ul{
    background: SILVER;
    border: 1px dashed grey;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    border-radius: 5px;
}

li{
    list-style-type: none;
    margin: 2rem;
    border: 1px solid #cc0000;
    border-radius: 5px;
    background-image: linear-gradient(
    to right,
    #c46269,
    white 10%
    );
    box-shadow: 0 5px 10px 0 dimgray; 
}
