.header {
    color: #cc0000;
    font-size: 40px;
}

.body {
    border: 3px solid #cc0000;
    background: #eeeeee;
    margin: 2rem;  
}

.page {
    font-weight: normal;
}

.time {
    font-weight: bold;
    font-size: 20px;
}