img {
    float: left;
    border-radius: 50%;
    border: 6px solid CRIMSON;
    box-shadow: 0 6px 8px 0 dimgray; 
    margin-top: 20px;
    margin-left: 5px;
}

@media (min-width: 600px) {
    img {
        height: 5rem;
        width: 40%;
    }
}

@media (min-width: 800px) {
    img {
        height: auto;
        width: 50%;
    }
}
