html {
    font-size: 12px;
  }

section{
    padding-inline-start: 15rem;
    padding-bottom: 2rem;
}

body{
    font-family: Helvetica;
    padding: 1rem;
}

h1 {
    color: CRIMSON;
    font-size: 40px;
    margin: 0;
}

time {
    font-weight: bold;
    font-size: 15px;
}

#button{
    overflow:hidden;
    background: red;
    position: relative;
}

p {
    font-size: 20px; 
}


  