img {
    float: left;
    border-radius: 50%;
    border: 6px solid CRIMSON;
    box-shadow: 0 6px 8px 0 dimgray; 
    max-width: 60%;
}

@media (min-width: 400px) {
    img {
        height: 5rem;
        width: 60%;
    }
}

@media (min-width: 600px) {
    img {
        height: 6rem;
        width: 60%;
    }
}

@media (min-width: 800px) {
    img {
        height: auto;
        width: 60%;
    }
}